[Unit]
Description=Keyboard_shortcuts service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/include/keyboard-shortcuts/snippets
WorkingDirectory=/usr/include/keyboard-shortcuts

[Install]
