[Unit]
Description=Keyboard_shortcuts service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/include/Keyboard-shortcuts/snippets
User=root
WorkingDirectory=/usr/include/Keyboard-shortcuts
#StandardOutput=tty
#TTYPath=/dev/pts/1

[Install]
